.regWrap {
    min-height: 100vh;
}

.regWrapForm {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.regWrapFormInput {
    margin: 10px 0;
}

.error {
    color: #FD292F;
    width: 300px;
}