.userWrap {
    display: flex;
    width: 200px;
    background: #FE8535;
    color: #FEF4C0;
    padding: 5px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #FDB10B;
}

.userWrapImg {
    border: none;
    border-radius: 50%;
}
