.button {
    width: 200px;
    height: 50px;
    background: #FE8535;
    border: 1px solid #FDB10B;
    border-radius: 30px;
    align-items: center;
    margin: 10px;
    font-size: 18px;
    color: #FEF4C0;
    cursor: pointer;
}

.button:hover {
    background: #B20000;
}

.button:active {
    background: #FD292F;
}

.primary {

}

.secondary {

}

.secondary2 {

}

.buttonDisabled {
    display: none;
}