.container {
    position: relative;
    text-align: center;
    padding: 15px;
    z-index: 1;
}

.container:before {
    content: url(../../assets/images/Vector.png);
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.darkContainer {
    background: #040000;
    position: relative;
    text-align: center;
    padding: 15px;
    z-index: 1;
    color: #FEF4DB;
}

.darkContainer:before {
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    content: url(../../assets/images/VectorDark.png);
}