.header {
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
}

.menuButton {
    cursor: pointer;
}